<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entdades.Properties.Settings.coneccion_db" connectionString="Data Source=LAB5PC15\SQLEXPRESS;Initial Catalog=Padron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>