/****** Script para el comando SelectTopNRows de SSMS  ******/
/*SELECT TOP 1000 [id]
      ,[nombre]
      ,[apellido]
      ,[edad]
  FROM [Padron].[dbo].[Personas]*/

  /**SELECT id,nombre,apellido,edad
  from Padron.dbo.Personas**/

  /**WHERE id=2
  where edad=58**/

  /**order by nombre desc
  order by edad asc**/

  delete from Padron.dbo.Personas

  where id=8

  SELECT *
  from Padron.dbo.Personas

  /*insert into Padron.dbo.Personas (nombre,apellido,edad)
  values ('enzo','fragan',20)

  update Padron.dbo.Personas 
  set nombre='enzo',apellido='fragan',edad=20
  
  where id=6*/

  